*{
    box-sizing: border-box;
}
body{
    font-family: x_factor;
    background-color: #1c3049;
    color: white;

}

.MainGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.TopBar{
    color: burlywood;
    padding: 10px;
}
.PStart{
    text-align: center;
    font-size: larger;
    color: #a10075;
    padding: 20px;
}

.Game{
    background-color: #86b7fe;
    position: relative;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
}

.StartBtn{
    display: inline-block;
    background-color: darkred;
    padding: 10px 40px;
    font-size: larger;
    text-align: center;
    position: absolute;
    left: 20vw;
    cursor: pointer;
}
.Pad{
    font-size: x-small;
    color: white;
    position: absolute;
    bottom: 20%;
    left: 20%;
    width: 6vw;
    height: 5vh;
    background-color: #790000;
    text-align: center;
    padding-top: 2vh;
}

